.container {
    padding: 0.5em;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container p {
    margin: 0.4em;
}

.header {
    border-bottom: #C8C7CC 1px solid;
}

.header a {
    color: #007aff;
    text-decoration: none;
}