.header {
    background-color: lightgreen;
}

.flightCard {
    background-color: lightblue;
    flex-grow: 1;
}

.flightCard .topRow {
    display: flex;
    flex-direction: row;
}

.flightCard .topRow h3 {
    width: 50%;
}

.flightCard .topRow h3:last-child {
    text-align: right;
}

.timesBlock {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.eobtCard {
    background-color: lightpink;
    width: 50%;
}

.ctotCard {
    background-color: lightyellow;
    width: 50%;
}

.footer {
    background-color: mediumpurple;
}