.container {

}

.container h1, .container h2, .container h3, .container h4, .container h5, .container p {
    margin: 0.4em;
}

.header {
    background-color: lightgreen;
}

.flightCard {
    background-color: lightblue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
}

.flightCard > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flightCard > div > * {

}

.flightCard .topRow {
    flex-grow: 0.2;
}

.flightCard .midRow {
    flex-grow: 0.4;
}

.flightCard .bottomRow {
    flex-grow: 0.5;
    justify-content: flex-start;
}

.timesBlock {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.timesBlock > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timesBlock > div > * {
    flex-grow: 1;
}

.timesBlock .midRow {
    flex-grow: 0.5;
}

.eobtCard {
    background-color: lightpink;
    width: 50%;
}

.ctotCard {
    background-color: lightyellow;
    width: 50%;
}
