.topRow {
    flex-grow: 1;
}

.midRow {
    flex-grow: 0.5;
    text-align: center;
    color: slategrey;
}

.midRow > * {
    text-align: center;
}

.midRow h1 {
    position: relative;
}

.bottomRow {
    flex-grow: 1;
    color: slategrey;
}
