.timeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-top: #C8C7CC 1px solid;
}

.timeCard > * {
    flex-grow: 1;
}

.timeCard > .midRow {
    flex-grow: 0.5;
    text-align: center;
    color: slategrey;
}

.midRow > * {
    text-align: center;
}

.midRow h1 {
    position: relative;
}

.bottomRow {
    color: slategrey;
}

.eobtCard {
    border-right: #C8C7CC 1px solid;
}

.ctotCard {
}