.container {
    padding: 3vh 3vw;
}

.container > h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.content {
    overflow-y: scroll;
}

.flightPlanTable {
    width: 100%;
    border-collapse: collapse;
}

.flightPlanTable tr {
    height: 3.5em;
}

.flightPlanTable tr.link {
    cursor: pointer;
}

.flightPlanTable tr:not(:last-child) {
    border-bottom: grey 1px solid;
}

.flightPlanTable a {
    color: inherit;
    text-decoration: inherit;
}